*, 
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --bg-color: hsl(0, 0%, 80%);
    --controls-bg: hsla(0, 100%, 0%, .7);
    --bar-color: orangered;
}

html {
    font-size: 16px;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
}